ion-content {
    font-family: sans-serif;
    --offset-top: -25px !important;
}

ion-toolbar{
    --background: transparent;
    color: #fff;
}

.product{
    width: 100%;
    height: 100vh;
}

.productTlt{
    font-size: 15px;
    color: rgb(160, 160, 160);
}

.productImgDiv{
    width: 100%;
    height: 300px;
    max-height: 300px;

}

.slideImg{
    height: 300px;
    max-height: 300px;
}

.productImg{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.productHead{
    width: 100%;
    height: auto;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #f1f1f1;
}

.productHead .productPA{
    font-size: 22px;
    font-weight: bold;
}

.productHead .productPI {
    font-size: 17px;
    font-weight: 430;
    color: rgb(175, 175, 175);
}

.productInfo{
    width: 100%;
    padding: 10px 15px 10px 15px;
    color: #2c2c2c;
    text-align: justify;
    border-bottom: 1px solid #f1f1f1;
}

.inp{
    position: absolute;
    bottom: 4.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: #f1f1f1;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.bidBtn{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    background: #fff;
    overflow-y: hidden; 
}



.btn{
    width: 90%;
    --border-radius: 40px;
}

.toolbar{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
}

.profileDiv{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f1f1f1;
}

.profAvatar {
    width: 60px;
    height: 60px;
}


ion-button.uploadBtn {
    font-size: 17px;
    position: fixed;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background: #8be4a5 !important;
}

ion-fab{
    bottom: 2rem;
}

.bidders{
    border-bottom: 1px solid #f1f1f1;
}