<ion-content>

  <div class="toolbar">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" class="margin-start" mode="md" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" margin-end *ngFor="let fav of saves" hidden>
        <ion-button (click)="saveFav()" *ngIf="fav.productID != productID && favs != true">
          <ion-icon name="heart-empty"></ion-icon>
        </ion-button>
        <ion-button (click)="delFav()" *ngIf="fav.productID == productID && favs == true">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="product">

    <div class="productImgDiv">
      <ion-slides pager="true" [options]="sliderOpts">
        <ion-slide class="slideImg" *ngFor="let img of productImg">
          <img class="productImg" [src]="img" alt="">
        </ion-slide>
      </ion-slides>
    </div>

    <div class="productHead">
      <span class="productTlt">{{productTitle}}</span><br>
      <span class="productPA">P.A: {{PA}} €</span><br>
      <!-- <span class="productPI">P.E: --- € </span><br> -->
      <span class="productPI">P.I: {{PI}} €</span>
    </div>

    <div class="productInfo">
      <span class="productDesc">{{desc}}</span>
    </div>

    <div class="bidders">
      <ion-item *ngFor="let bid of bidders | slice:biddersLenghtShow:biddersLenght; " lines="none">
        <ion-label>{{bid.username}}</ion-label>
        <ion-label>+ {{bid.price}} €</ion-label>
        <ion-label><p>{{bid.date?.toDate() | date: 'HH:mm a'}}</p></ion-label>
      </ion-item>
    </div>


    <div class="profileDiv" (click)="profile()">
      <ion-item lines="none">
        <ion-avatar class="profAvatar" size="small" slot="start">
          <img [src]="userPropImg" alt="">
        </ion-avatar>
        <ion-label>
          <h2 style="text-transform: capitalize;">{{userProfName}}</h2>

          <p>
            <ion-icon name="stats" mode="ios"></ion-icon> {{sales}} Ventas {{purch}} Compras
          </p>
        </ion-label>
      </ion-item>

    </div>




    <div class="bidBtn">
      <!-- <ion-button class="btn" color="primary" mode="ios" (click)="pujaAlert()" *ngIf="open == true && userID != ownID">
        Pujar</ion-button> -->
      <ion-fab vertical="bottom" slot="fixed" *ngIf="open == true && userID != ownID">
        <ion-button class="btn uploadBtn" mode="ios" (click)="pujaAlert()">
          <ion-label slot="start">Pujar</ion-label>
        </ion-button>
      </ion-fab>
      <ion-button color="danger" mode="ios" slot="end" class="btn" (click)="closeSub($event)" id="{{productID}}"
        *ngIf="userID == ownID && open != false">
        <ion-icon slot="start" name="close" mode="ios" id="{{productID}}"></ion-icon>
        <ion-label slot="start" id="{{productID}}">Cerrar Subasta</ion-label>
      </ion-button>
    </div>

  </div>

</ion-content>