<ion-content>

  <div class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" class="margin-start" mode="md" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </div>

  <div class="product">

    <div class="productImgDiv">
      <ion-slides pager="true" [options]="sliderOpts" >
        <ion-slide class="slideImg" *ngFor="let img of productImg">
          <img class="productImg" [src]="img" alt="">
        </ion-slide>
      </ion-slides>
    </div>

    <div class="productHead">
      <span class="productTlt">{{productTitle}}</span><br>
      <span class="productPA">P.A: {{PA}} €</span><br>
      <span class="productPI">P.E: --- € </span><br>
      <span class="productPI">P.I: {{PI}} €</span>
    </div>

    <div class="productInfo">
      <span class="productDesc">{{desc}}</span>
    </div>

    <ion-list>
      <ion-item *ngFor="let bid of bidders | slice:biddersLenghtShow:biddersLenght; " lines="none">
        <ion-label>+ {{bid.price}} €</ion-label>
        <ion-label >{{bid.username}}</ion-label>
        <ion-label >{{bid.date?.toDate() | date: 'HH:mm a'}}</ion-label>
      </ion-item>
    </ion-list>

    <div class="bidBtn">
      <ion-button class="btn" color="primary" mode="ios" (click)="pujaAlert()">Pujar</ion-button>
    </div>

  </div>

</ion-content>
