.inp{
    --background: #f9f9f9;
    margin: .25rem auto;
    border-radius: 10px;
    border: 1px solid #f1f1f1; 
    padding: 5px;
}

.locItem, .prodItem{
    border-radius: 10px;
    --background: #f9f9f9a1;
    border: 1px solid #f1f1ff;
}

.prodItem{
    margin: .5rem auto;
}

.defaultTxt{
    text-align: center;
    font-style: italic;
    text-transform:capitalize;
}