<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancelUpl()" mode="ios" *ngIf="category != null">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
      <ion-button (click)="closeModal()" mode="ios" *ngIf="category == null">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" (click)="openCat()">
      <span>Selecciona una categoria </span>
      <ion-icon size="small" mode="ios" name="arrow-down"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="images">
    <div class="img">
      <img [src]="noImg" class="prodImg">
    </div>
    <div class="img">
      <img [src]="noImg" class="prodImg">
    </div>
    <div class="img">
      <img [src]="noImg" class="prodImg">
    </div>
    <div class="img">
      <img [src]="noImg" class="prodImg">
    </div>
    <div class="img">
      <img [src]="noImg" class="prodImg">
    </div>
  </div>

  

  <ion-button *ngIf="category != null">Upload</ion-button>
  <ion-button *ngIf="category == null" disabled>Upload</ion-button>

</ion-content>