<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" mode="md" *ngIf="profileID == ownID">
      <ion-button fill="clear">
        <ion-icon name="settings" mode="md"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="create" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="{{profilePic}}">
    </ion-avatar>
    <ion-label slot="start">
      <h3>{{username}}</h3>
      <h6 *ngIf="profileID == ownID">{{email}}</h6>
    </ion-label>
  </ion-item>

</ion-content>
