<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" mode="md">
      <ion-button fill="clear">
        <ion-icon name="settings" mode="md"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="create" mode="md"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="share-alt" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label>{{username}}</ion-label>

    <ion-list>
      <ion-item lines="none" *ngFor="let my of myProducts">
        <ion-label>{{my.id}}</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
