<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" margin-start>
      <ion-back-button color="dark" text="" mode="ios" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Envíos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="titles">
    <h4>Fondos y Retiros</h4>
  </div>

  <ion-item lines="none" class="funds" detail (click)="modal($event)" id="funds">
    <ion-icon color="primary" slot="start" name="wallet" mode="ios" id="funds"></ion-icon>
    <ion-label color="primary" slot="start" id="funds">Mis Fondos</ion-label>
  </ion-item>

  <ion-item lines="none" class="withdraw" detail (click)="modal($event)" id="withdraw">
    <ion-icon color="warning" slot="start" name="cash" mode="md" id="withdraw"></ion-icon>
    <ion-label color="warning" slot="start" id="withdraw">Retirar Fondos</ion-label>
  </ion-item>


  <div class="titles" >
    <h4>Direcciones y Solicitudes</h4>
  </div>

  <ion-item lines="none" class="locations" detail (click)="modal($event)" id="locations">
    <ion-icon color="dark" slot="start" name="home" mode="md" id="locations"></ion-icon>
    <ion-label color="dark" slot="start" id="locations">Mis direcciones</ion-label>
  </ion-item>

  <ion-item lines="none" class="pickUp" detail (click)="modal($event)" id="pickUp">
    <ion-icon color="primary" slot="start" name="locate" mode="md" id="pickUp"></ion-icon>
    <ion-label color="primary" slot="start" id="pickUp">Solicitar Recogida</ion-label>
  </ion-item>

  <ion-item lines="none" class="requests" detail (click)="modal($event)" id="requests">
    <ion-icon color="warning" slot="start" name="copy" mode="md" id="requests"></ion-icon>
    <ion-label color="warning" slot="start" id="requests">Mis Solicitudes</ion-label>
  </ion-item>



</ion-content>