<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" margin-start *ngIf="pay != 1">
      <ion-back-button color="dark" text="" mode="ios" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="pay == 1">
      <ion-button (click)="cancelPay()">
        <ion-icon name="close" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="radio-button-off" refreshingSpinner="circular" pullFactor="0.5" pullMin="100"
      pullMax="150">
    </ion-refresher-content>
  </ion-refresher>

  <div class="no-purch" *ngIf="!purchases">
    De momento no tienes ninguna compra.
  </div>

  <ion-list *ngIf="purchases && pay != 1">

    <div class="titles">
      <h4>Esperando Pago</h4>
    </div>
    <div *ngFor="let purch of purchases">
      <div *ngFor="let prod of products">
        <ion-item class="purchItem" lines="none" *ngIf="purch.productID == prod.productID && prod.status != 'paidout'">
          <ion-avatar slot="start">
            <img [src]="purch.img" alt="">
          </ion-avatar>
          <ion-label slot="start">
            <h6>{{purch.title}}</h6>
            <p>{{purch.desc}}</p>
          </ion-label>
          <ion-icon slot="end" name="home" mode="md" color=""></ion-icon>
        </ion-item>
      </div>
    </div>

    <div class="titles">
      <h4>Pagado</h4>
    </div>
    <div *ngFor="let purch of purchases">
      <div *ngFor="let prod of products">
        <ion-item class="purchItemPaid" lines="none"
          *ngIf="purch.productID == prod.productID && prod.status == 'paidout'">
          <ion-avatar slot="start">
            <img [src]="purch.img" alt="">
          </ion-avatar>
          <ion-label slot="start">
            <h6>{{purch.title}}</h6>
            <p>{{purch.desc}}</p>
          </ion-label>
          <ion-icon color="primary" slot="end" name="checkmark-circle" mode="md" color=""></ion-icon>
        </ion-item>
      </div>
    </div>
  </ion-list>


  <ion-list *ngIf="purchases && pay == 1">

    <div class="titles">
      <h4>Selecciona el Producto</h4>
    </div>
    <ion-radio-group>
      <div *ngFor="let purch of purchases">
        <div *ngFor="let prod of products">
          <ion-item class="purchItem" lines="none" (ionSelect)="select($event)"
            *ngIf="purch.productID == prod.productID && prod.status == 'waiting'">
            <ion-avatar slot="start">
              <img [src]="purch.img" alt="">
            </ion-avatar>
            <ion-label slot="start">
              <h6>{{purch.title}}</h6>
              <p>{{purch.desc}}</p>
            </ion-label>
            <ion-radio slot="end" [value]="purch.productID" mode="ios"></ion-radio>
          </ion-item>
        </div>
      </div>
    </ion-radio-group>
  </ion-list>

  <ion-fab vertical="bottom" slot="fixed" *ngIf="purchases && pay != 1">
    <ion-button color="warning" class="btn payBtn" mode="ios" (click)="paymentBtn()">
      <ion-icon slot="start" name="cash"></ion-icon>
      <ion-label slot="start">Pagar Producto</ion-label>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" slot="fixed" *ngIf="purchases && pay == 1 && prodID != ''">
    <ion-button color="warning" class="btn payBtn" mode="ios" (click)="makePayment()">
      <ion-label slot="start">Pagar</ion-label>
    </ion-button>
  </ion-fab>

</ion-content>