<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" mode="ios" (click)="openMenu()">
        <ion-badge class="notificationsMenu" *ngIf="!notifications" color="primary">99</ion-badge>
        <ion-icon class="notificationsMenuIcon" name="menu" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar mode="ios" placeholder="Busca en buylligator" [(ngModel)]="searchterm" showCancelButton="focus"
      class="searchBar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="radio-button-off" refreshingSpinner="circular" pullFactor="0.5" pullMin="100"
      pullMax="150">
    </ion-refresher-content>
  </ion-refresher>

  <ion-chip *ngIf="category" color="secondary" margin-start margin-top>
    <ion-icon name="infinite"></ion-icon>
    <ion-label>{{category}}</ion-label>
    <ion-icon name="close-circle-outline" mode="ios" (click)="delCategory()"></ion-icon>
  </ion-chip>

  <ion-slides class="catSlider" [options]="slideOpts" *ngIf="!category">
    <ion-slide *ngFor="let cat of categories" (click)="selCategory($event)" [id]="cat.id">
      <div class="catSlide" (click)="selCategory($event)" [id]="cat.id">
        <ion-icon [name]="cat.icon" [mode]="cat.mode" (click)="selCategory($event)" [id]="cat.id" [color]="cat?.color">
        </ion-icon> <br>
        <span (click)="selCategory($event)" [id]="cat.id">{{cat.name}}</span>
      </div>
    </ion-slide>
  </ion-slides>


  <div class="productsRow">
    <div *ngFor="let item of products">
      <div class="productCard" *ngIf="item.verificated == true" id="{{item.productID}}">
        <div class="productCardExp" *ngIf="item.express == true">
          <img [src]="expressImg" alt="">
        </div>
        <img [src]="item.img[0]" (click)="view($event)" id="{{item.productID}}">
        <div class="productCardInfo" id="{{item.productID}}" (click)="view($event)">
          <span class="productCardPrice" id="{{item.productID}}">P.A: {{item.PA}} {{item.currency}}</span><br>
          <span class="productCardTitle" id="{{item.title}}">{{item.title}}</span>
          <!-- <ion-icon size="" slot="end" name="information-circle-outline"></ion-icon> -->
          <p class="productCardDesc" id="{{item.productID}}">{{item.desc}}</p>
        </div>
        <div class="productCardBtns">
          <ion-button slot="end" mode="ios" color="light" class="btn" (click)="save($ev)"
            *ngIf="item.express == true && item.username != username && item.open != false" id="{{item.productID}}">
            <ion-icon name="heart-empty" color="danger" mode="md" id="{{item.productID}}"></ion-icon>
          </ion-button>
          <ion-button slot="end" mode="ios" class="btn" (click)="pujar($event)" id="{{item.productID}}"
            *ngIf="item.express == true && item.username != username && item.open != false">
            <ion-icon slot="start" name="trending-up" mode="ios" id="{{item.productID}}"></ion-icon>
            <ion-label slot="start" id="{{item.productID}}">Pujar</ion-label>
          </ion-button>
          <ion-button color="danger" mode="ios" slot="end" class="btn" (click)="closeSub($event)"
            id="{{item.productID}}" *ngIf="item.username == username && item.open != false">
            <ion-icon slot="start" name="close" mode="ios" id="{{item.productID}}"></ion-icon>
            <ion-label slot="start" id="{{item.productID}}">Cerrar Subasta</ion-label>
          </ion-button>
          <ion-label class="closedTxt" *ngIf="item.open == false">
            Subasta cerrada
          </ion-label>
        </div>
      </div>
    </div>



  </div>

  <!--
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add-circle-outline" mode="ios"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    -->

  <ion-fab vertical="bottom" slot="fixed">
    <ion-button class="btn uploadBtn" mode="ios" (click)="openModal()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      <ion-label slot="start">Empezar Subasta</ion-label>
    </ion-button>
  </ion-fab>

</ion-content>