<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-title>Mis Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="sales">


    <ion-item-sliding *ngFor="let s of sales" [id]="s.productID" (click)="go($event)" lines="none">

      <ion-item lines="none">
        <ion-avatar slot="start" [id]="s.productID">
          <img [src]="s.img" [id]="s.productID">
        </ion-avatar>
        <ion-label [id]="s.productID" slot="start">
          <h3 [id]="s.productID">{{s.title}}</h3>
          <p [id]="s.productID">{{s.desc}}</p>
        </ion-label>
        <ion-label slot="end" [id]="s.productID">
          <h4 [id]="s.productID">{{s.price}}€</h4>
        </ion-label>
        <ion-label slot="end" color="warning" (click)="statusInfo(s.status)" [id]="s.productID"
          *ngIf="s.status == 'waiting'">
          <ion-icon name="time" mode="ios" [id]="s.productID"></ion-icon>
        </ion-label>
        <ion-label slot="end" color="success" (click)="statusInfo(s.status)" [id]="s.productID"
          *ngIf="s.status == 'paidout'">
          <ion-icon name="checkmark-circle" mode="ios" [id]="s.productID"></ion-icon>
        </ion-label>
        <ion-label slot="end" color="danger" (click)="statusInfo(s.status)" [id]="s.productID"
          *ngIf="s.status == 'cancelled'">
          <ion-icon name="close-circle" mode="ios" [id]="s.productID"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item-options side="start" lines="none" *ngIf="s.status == 'paidout'">
        <ion-item-option (click)="qrCode($event)" color="light" [id]="s.productID">
          <ion-label text-center [id]="s.productID">
            <ion-icon name="qr-scanner" mode="ios" [id]="s.productID"></ion-icon>
            <h4 [id]="s.productID">Código QR</h4>
          </ion-label>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <div class="qrCode" *ngIf="qrData" style="width: 100%; text-align:center;font-family:sans-serif;">

      <h6>Este es el <b>Código de Referencia</b> de envío, imprímelo y pégalo en el paquete.</h6>

      <ngx-qrcode qrc-element-type="canvas" [(qrc-value)]="qrData" qrc-version="5"></ngx-qrcode>

      <ion-button color="warning" (click)="downloadQR()">Descargar QR</ion-button>
      <ion-button color="danger" (click)="closeQR()">Cerrar</ion-button>

    </div>

  </ion-list>

</ion-content>